{{ define "main" }}
<div class="pure-g">
    <div class="center pure-u-5-5">


        <h1>Rentrée 2019 – Informations pratiques et horaires</h1> 
        <p>
            La liste que vous avez reçue récapitule les ouvrages figurant avec la mention "<b>Librairie</b>" sous la rubrique
        </p>
        <p>
            observation de la feuille de distribution du matériel de la rentrée 2019-20.
            Vous devez vous les procurer <b>d'ici au vendredi 13.09.2019</b> au plus tard
            (ou avant selon les directives des enseignants).
        </p>
        <p>
            La <b>Librairie du Lac</b> a été mandatée par votre école afin qu'elle ait sur place et en quantité suffisante les titres de la
            liste dans la version décidée par les enseignants. Ainsi, vous pouvez acquérir vos livres en un seul déplacement et dans les
            délais fixés. Si toutefois vous souhaitez les acheter ailleurs, il vous incombe de vous assurer de leur conformité à cette liste
            afin d'avoir une uniformité dans le matériel utilisé en classe.
        </p>
        <p>
            Les prix qui figurent sur cette liste sont à titre indicatifs. <b>Les rabais aux étudiants sont déjà déduits</b>.
        </p>
        <p>
            Les cartes de débit/crédit sont <b>acceptées</b> et <b>6 distributeurs sont à proximité immédiate</b>.
            <b>Nous n'établirons donc pas de factures avec BVR</b>.
        </p>
            
        <h1>Horaires de la librairie</h1>

        <p>Jeudi 22.08 et vendredi 23.08 : ouverture 7h30 – 18h00</p>
            
        <p>Du 26.08.2019 au 13.09.2019 du lundi au vendredi / 7h30-8h30 / 12h00-13h30 / 16h00-18h00</p>

        <h1>Accès à la Librairie du Lac</h1>

        <p>Avenue Louis-Ruchonnet 1 / 1003 Lausanne / Dans les locaux de Bénévolat Vaud</p>

        <p>Les ouvrages sont stockés uniquement dans ces locaux</p>

        <p>En cas de problèmes : 078 836 06 28</p>


        <h1>Information importante</h1>
        <p>
            La librairie sera atteignable au nouveau numéro 021 552 23 30 dès le 7 janvier 2019
            et l’adresse mail pour les commandes devient <a href="mailto:commandes@librairie-du-lac.ch">commandes@librairie-du-lac.ch</a>
        </p>
        <div class="ebook">
            <a target="_blank" href="http://www.e-readers.ch/default.aspx?bookshopId=89"><img src="/img/ebook.jpg"></a>
        </div>
    </div>
</div>
{{ end }}