{{ define "main" }}
<div class="pure-g">
    <div class="center pure-u-5-5">
        <h1>Information importante</h1>
        <p>
            La librairie sera atteignable au nouveau numéro 021 552 23 30 dès le 7 janvier 2019
            et l’adresse mail pour les commandes devient <a href="mailto:commandes@librairie-du-lac.ch">commandes@librairie-du-lac.ch</a>
        </p>
        <div class="ebook">
            <a target="_blank" href="http://www.e-readers.ch/default.aspx?bookshopId=89"><img src="/img/ebook.jpg"></a>
        </div>
    </div>
</div>
{{ end }}